/*common*/
html {
  box-sizing: border-box;
  font-size: 16px;
  width: 16px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Cormorant";
  color: white;
  margin-top: 0;
  background-color: rgba(33, 33, 33);
  overflow-x: hidden;
  line-height: 1.3;
}
a {
  text-decoration: none;
  color: white;
}
button {
  font-family: "Cormorant";
  border: #ffff99;
  font-weight: bold;
  border-radius: 100px;
  background-color: #ffff99;
  cursor: pointer;
  outline: none;
  padding: 7px 12px;
  -o-transition: background 0.3s ease;
}
button:hover,
button:focus {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background: #d7d75d;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 4px;
  background-color: #ffff99;
  width: 100vw;
}
#side-menu {
  display: none;
  width: 0;
  transition: width 0.3s;
  background-color: #f1f1f1;
}
#side-menu a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 6%;
}
#side-menu.open {
  display: block;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background-color: rgb(33, 33, 33);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.menu_head {
  position: fixed;
  right: 0;
  top: 50px;
}
#menu-button {
  all: unset;
  margin-left: 20%;
}
.screen {
  background-color: rgb(53, 53, 53);
  text-align: center;
  width: 100vw;
}

/*footer&&header*/
header,
footer {
  display: flex;
  height: 4.5cap;
  width: 100vw;
  font-family: "Open Sans";
  flex-direction: column;
  padding: 0;
  background-color: rgb(33, 33, 33);
}
header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
}
#action {
  font-weight: bold;
}
/*end footer&header*/

/*first*/
.first {
  background-image: url("img/fon/first.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first h1 {
  margin: 5%;
  margin-bottom: 0;
  padding: 0;
}
.first p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 7%;
}
/*second*/
.text_2 {
  list-style-type: none;
  padding: 0;
}

.text_2 li {
  position: relative;
  padding-left: 20px;
}

.text_2 li:before {
  content: "●";
  position: absolute;
  left: 0;
  top: 0;
}
.second,
.third {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*third*/

/*fourth*/
.fourth {
  background-image: url("img/fon/fourth.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
  color: #000;
  overflow: hidden;
  box-shadow: 0 0 10px 5px #ffff9925;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
/*fifth*/
.fifth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.guest {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.comment {
  display: flex;
  flex-direction: column;
  border: 2px solid #ffff99;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px #ffff9910;
}
.line,
.comm_line {
  display: flex;
  justify-content: space-around;
}
/*sixth*/
.sixth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*end screen*/

@media (min-width: 1900px) {
  .media-side-menu,
  .lil {
    display: none;
  }
}

@media ((min-width: 1300px) and (max-width: 1900px)), (min-width: 1900px) {
  button {
    height: 5rem;
    width: 22rem;
    font-size: 2rem;
  }
  header,
  footer {
    height: 6.6rem;
    font-size: 1.5rem;
  }
  footer img,
  .number {
    margin-left: 2%;
    margin-top: 1%;
  }
  .img,
  .menu_head {
    margin-right: 5%;
  }
  header li {
    margin-top: 0.7rem;
    margin-left: 2rem;
  }
  footer li {
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
  }
  .first {
    height: 49rem;
  }
  .first h1 {
    font-size: 6.2rem;
  }
  .first p {
    font-size: 4.2rem;
  }
  .second {
    height: 70rem;
    padding: 0;
    margin: 0;
  }
  .second h1 {
    font-size: 5rem;
    margin-left: 29%;
    margin-bottom: 5%;
  }
  .second li {
    font-size: 2.1rem;
    width: 35rem;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .third {
    height: 65rem;
    padding: 0;
    margin: 0;
  }
  .third h1 {
    font-size: 4.2rem;
    margin-right: 3%;
    margin-bottom: 10%;
  }
  .fourth {
    height: 60.37rem;
  }
  .fourth p,
  .fifth p {
    font-size: 4.2rem;
    margin-top: 2%;
  }
  .card {
    height: 35rem;
    width: 19rem;
    margin-bottom: 3%;
  }
  .salad {
    margin-left: 7%;
  }
  .burger {
    margin-right: 7%;
  }
  .fourth button {
    margin-bottom: 3.6%;
  }
  .card h2,
  .comment h2 {
    font-size: 2rem;
  }
  .card img {
    width: 19rem;
  }
  .card p {
    font-size: 1.2rem;
  }
  .fifth {
    height: 60rem;
  }
  .comment {
    height: 30rem;
    width: 20rem;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .dasha {
    margin-left: 7%;
  }
  .name {
    margin-bottom: 5%;
  }
  .comment p {
    font-size: 1.5rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .vika {
    margin-right: 7%;
  }
  .sixth {
    height: 60rem;
  }
  .sixth h1 {
    font-size: 4.8rem;
    margin-bottom: 30%;
  }
  .final {
    margin-right: 9%;
  }
}

@media (min-width: 1300px) and (max-width: 1900px) {
  .max,
  .lil,
  .media-side-menu {
    display: none;
  }
}

@media ((min-width: 1100px) and (max-width: 1300px)) {
  .number,
  .max,
  .menu_head {
    display: none;
  }
  button {
    height: 4rem;
    width: 18rem;
    font-size: 1.75rem;
  }
  header,
  footer {
    height: 6.6rem;
    font-size: 1.5rem;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .media-side-menu {
    margin-left: 2%;
  }
  footer img {
    margin-left: 1%;
    margin-top: 1%;
  }
  .img {
    margin-right: 5%;
  }
  header li {
    margin-top: 0.7rem;
    margin-left: 2rem;
  }
  footer li {
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 2%;
  }
  .first {
    height: 43rem;
  }
  .first h1 {
    font-size: 6.2rem;
  }
  .first p {
    font-size: 4.2rem;
  }
  .first button {
    margin-top: 4%;
  }
  .second {
    height: 70rem;
    padding: 0;
    margin: 0;
  }
  .second h1 {
    font-size: 4rem;
    margin-left: 29%;
    margin-bottom: 5%;
  }
  .second li {
    font-size: 1.8rem;
    width: 25rem;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .third {
    height: 65rem;
    padding: 0;
    margin: 0;
  }
  .third h1 {
    font-size: 3.7rem;
    margin-right: 3%;
    margin-bottom: 10%;
  }
  .fourth {
    height: 60.37rem;
  }
  .fourth p,
  .fifth p {
    font-size: 4.2rem;
    margin-top: 2%;
  }
  .card {
    height: 35rem;
    width: 19rem;
    margin-bottom: 3%;
  }
  .salad {
    margin-left: 3%;
  }
  .burger {
    margin-right: 3%;
  }
  .fourth button {
    margin-bottom: 3.6%;
  }
  .card h2,
  .comment h2 {
    font-size: 2rem;
  }
  .card img {
    width: 19rem;
  }
  .card p {
    font-size: 1.2rem;
  }
  .fifth {
    height: 60rem;
  }
  .comment {
    height: 30rem;
    width: 20rem;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .dasha {
    margin-left: 5%;
  }
  .name {
    margin-bottom: 5%;
  }
  .comment p {
    font-size: 1.5rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .vika {
    margin-right: 5%;
  }
  .sixth {
    height: 44.35rem;
  }
  .sixth h1 {
    font-size: 3.4rem;
    margin-bottom: 13%;
    margin-right: 20rem;
  }
  .sixth button {
    margin-right: 20rem;
  }
  .sixth img {
    width: 45rem;
  }
}

@media (max-width: 1100px) and (min-width: 650px) {
  .number,
  .max,
  .menu_head,
  .menu_foot,
  .vika,
  .dasha,
  .salad,
  .burger,
  .sixth img,
  .second img,
  .third img {
    display: none;
  }
  button {
    height: 3.8rem;
    width: 16rem;
    font-size: 1.5rem;
  }
  header,
  footer {
    height: 6rem;
    font-size: 1.5rem;
  }
  footer img {
    margin-left: 8%;
    margin-top: 1%;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    display: flex;
  }
  .img {
    margin-right: 5%;
  }
  header li {
    margin-top: 0.7rem;
    margin-left: 2rem;
  }
  .first {
    height: 43rem;
  }
  .first button {
    margin-top: 10%;
  }
  .first h1 {
    font-size: 6.2rem;
  }
  .first p {
    font-size: 4.2rem;
  }
  .second {
    background-image: url("img/fon/second_mob.svg");
    background-position: center right;
    background-size: 45% 90%;
  }
  .third {
    background-image: url("img/fon/third_mob.png");
    background-position: center left;
    background-size: 40% 80%;
  }
  .second,
  .third {
    background-repeat: no-repeat;
    height: 50rem;
  }
  .second ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
  }
  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .second h1 {
    font-size: 3.2rem;
    margin-left: 15%;
  }
  .second li {
    font-size: 1.5rem;
  }
  .third h1 {
    font-size: 3.7rem;
    margin: 5%;
    margin-bottom: 10%;
  }
  .fourth {
    height: 55rem;
  }
  .fourth p,
  .fifth p {
    font-size: 4.2rem;
    margin-top: 2%;
  }
  .card {
    height: 35rem;
    width: 19rem;
    margin-bottom: 3%;
  }
  .fourth button {
    margin-bottom: 3.6%;
  }
  .card h2,
  .comment h2 {
    font-size: 2rem;
  }
  .card img {
    width: 19rem;
  }
  .card p {
    font-size: 1.2rem;
  }
  .fifth {
    height: 50rem;
  }
  .comment {
    height: 30rem;
    width: 20rem;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .name {
    margin-bottom: 5%;
  }
  .comment p {
    font-size: 1.5rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .sixth {
    height: 30rem;
  }
  .sixth h1 {
    font-size: 3.8rem;
    margin-bottom: 10rem;
    margin: 10%;
  }
  .sixth button {
    margin-top: 10rem;
    margin: 0 auto;
  }
  .final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  .number,
  .max,
  .menu_head,
  .menu_foot,
  .vika,
  .dasha,
  .salad,
  .burger,
  .sixth img,
  footer p,
  .second img,
  .third img {
    display: none;
  }
  button {
    height: 3.3rem;
    width: 14rem;
    font-size: 1.4rem;
  }
  header,
  footer {
    height: 5rem;
    font-size: 1.5rem;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    display: flex;
  }
  footer img {
    margin-left: 5%;
    margin-top: 2%;
  }
  .img {
    margin-top: 5%;
    margin-right: 5%;
  }
  header li {
    margin-top: 0.7rem;
    margin-left: 2rem;
  }
  .first {
    height: 40rem;
  }
  .first button {
    margin-top: 20%;
  }
  .first h1 {
    font-size: 5.2rem;
  }
  .first p {
    font-size: 3.2rem;
  }
  .second {
    background-image: url("img/fon/second_mob.svg");
    background-position: center right;
  }
  .third {
    background-image: url("img/fon/third_mob.png");
    background-position: center left;
  }
  .second,
  .third {
    background-repeat: no-repeat;
    height: 44rem;
  }
  .second ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
  }
  .second {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .second h1 {
    font-size: 3rem;
    margin-left: 5%;
  }
  .second li {
    font-size: 1.3rem;
    margin-top: 10%;
  }
  .third h1 {
    font-size: 2.7rem;
    margin: 5%;
    margin-bottom: 20%;
  }
  .fourth {
    height: 55rem;
  }
  .fourth p,
  .fifth p {
    font-size: 2.8rem;
    margin-top: 2%;
  }
  .card {
    height: 35rem;
    width: 19rem;
    margin-bottom: 3%;
  }
  .fourth button {
    margin-bottom: 3.6%;
  }
  .card h2,
  .comment h2 {
    font-size: 2rem;
  }
  .card img {
    width: 19rem;
  }
  .card p {
    font-size: 1.2rem;
  }
  .fifth {
    height: 45rem;
  }
  .comment {
    height: 25rem;
    width: 17rem;
    margin-bottom: 5%;
    margin-top: 2%;
  }
  .name {
    margin-bottom: 5%;
  }
  .comment p {
    font-size: 1.3rem;
    margin-left: 1%;
    margin-right: 1%;
  }
  .sixth {
    height: 30rem;
  }
  .sixth h1 {
    font-size: 2.8rem;
    margin-bottom: 10rem;
    margin: 10%;
  }
  .sixth button {
    margin-top: 20%;
    margin: 0 auto;
  }
  .final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
